/*This is a comment in css :D */

body {
   height: 100vh;
   width:100vw;
   display: flex;
   overflow: hidden;
   background-color: #fcd45b;
   margin: 0;
}

.main {
   width: 93.8%;
   display: flex;
   margin: 160px 40px 50px 40px;
   column-gap: 40px;
}

.abtme {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex: 1;
   padding: 10px;
   background-color: #ffdf80;
   overflow: hidden;
}

.img {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 53vh;
   max-height: 300px;
   max-width: 300px;
   border: 4vh solid;
   padding: 10px;
   border-image: url(https://cdn.pixabay.com/photo/2020/06/06/20/48/frame-5268143_1280.png) 40 round;
}

.content {
   background-color: #ffdf80;
   overflow: scroll;
   overflow-x: hidden;
   flex: 2;
   width: auto;
   padding: 20px;
   border-color: #c9af28;
   text-align: left;
}

p {
   text-indent: 50px;
   text-align: justify;
   text-justify: inter-word;
}

h1 {
   text-align: center;
}

.image {
   display: flex;
   height: 30%;
   width: auto;
   justify-content: center;
   margin: 10px;
}

.navbar {
   display: flex;
   align-items: space-between;
   position: absolute;
   margin-top: 37px;
   margin-left: 40px;
   margin-right: 40px;
   padding: 10px;
   height: 12vh;
   width: 92.5%;
   background-color: #ffdf80;
}

.logo {
   display: flex;
   float: left;
   flex: 5;
   height: 12vh;
   width: 14vw;
   font-size: 1vw;
   text-align: center;
   text-justify: center;
   text-color: #221C31;
}

.title{
   display: flex;
   align-items: center;
}

.links {
   align-items: center;
   justify-content: center;
   text-align: center;
   display: flex;
   height:12vh;
   font-size: 20px;
   flex: 5;
}

nav a {
 text-decoration: none;
}

nav ul {
 list-style-type: none;
}


/* Code for changing scroll bar from W3S Schools scroll bar tutorial (edited color choices) */
/* width */
::-webkit-scrollbar {
   width: 20px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px #d19a02;
   border-radius: 10px;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #fcd45b;
   border-radius: 10px;
   border: solid 3px;
   border-color: #fcc732;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #fcc732;
 }